#comments_slider_container {
	width: 100%;
}

.comment {
	float: left;
	clear: both;
	width:98%;
}

.comment p {
	padding-bottom: 0;
	float: left;
	clear: left;
}

.comment_actions {
	float: right;
}

.comment_pagination {
	float: left;
	clear: left;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
	text-align: center;
}

div.comment_pagination .page_number {
	float: left;
	clear: left;
	margin-top: 1em;
	text-align: center;
	width: 100%;
}

.submit_button {
	background:#222 url(../img/layout/button-gradient.png) 0 3px repeat-x;
	border:1px solid #000;
	padding:5px 2px 5px 2px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	font-weight:bold;
	color:#07B2E6;
	cursor: pointer;
}

}
.submit_button:hover {
	background:#222 url(../img/layout/button-gradient.png) bottom repeat-x;
	color:#d65d00;
}
